/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#aboutDialogContainer {
  background-image: url("chrome://branding/content/about-background.png");
  background-repeat: no-repeat;
  background-color: #1a1a1a;
  color: #ffffff;
  min-width: 640px;
  min-height: 280px;
}

.text-link {
  color: #e8d84f !important;
}

.bottom-link {
  color: #0000ff !important;
}

#rightBox {
  /* this margin prevents text from overlapping the egg image */
  margin-left: 310px;
}

#bottomBox {
  margin-top: 60px;
  background-color: #e8d84f;
  color: #000000;
}
